/*---------------
        RESET
----------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------
        LAYOUT
----------------*/

body{
    height: 100vh;
    background: linear-gradient(to bottom, var(--ms-acqua-bg-color) 0 14%, var(--ms-gray-bg-color) 14% 100% );
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

/*---------------
    COINTAINER
----------------*/

.ms-boozapp-container{
    width: 78.13%;
    background-color: var(--ms-primary-color);
    height: 94%;
    margin: auto;
}

.ms-message-chatbox{
    background-image: url('../img/mine.jpg');
    border-left: solid 2px;
    border-color: var(--ms-gray-bg-color);
}

/*---------------
    COINTAINER - HEADERS
----------------*/

header{
    height: 3.75rem;
}

.ms-boozapp-header{
    height: 100%;
    width: 100%;
}

/*---------------
    CONTACT-CARD
----------------*/

.ms-card-contact{
    padding: 10px 30px;
    border-top: solid 1px var(--ms-secondary-color);
}

/*---------------
    COINTAINER - MAIN
----------------*/

.ms-message-chatbox main{
    height: calc(100% - 120px);

}

/*---------------
    COINTAINER - FOOTER
----------------*/

footer{
    height: 3.75rem;
}

.ms-boozapp-footer{
    width: 100%;
    height: 100%;
}