/*---------------
        RESET
----------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------
        LAYOUT
----------------*/

body{
    height: 100vh;
    background-color: var(--ms-gray-bg-color);
    display: flex;
    align-items: center;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 84%;
    left: 0;
    right: 0;
    background: blue;
    z-index:-1;
    background-color: var(--ms-acqua-bg-color);
}

/*---------------
    COINTAINER
----------------*/

.ms-boozapp-container{
    width: 78.13%;
    background-color: white;
    height: 94%;
    margin: auto;
}

.ms-list-contact{
    background-color: blue;

}

.ms-message-main{
    background-image: url('../img/mine.jpg');
    border-left: solid 2px;
    border-color: var(--ms-gray-bg-color);
}

/*---------------
    COINTAINER - HEADERS
----------------*/

header{
    height: 7%;
}

.ms-boozapp-header{
    height: 100%;
    width: 100%;
}