/*-------------------
    RESET LINK
--------------------*/

.ms-boozap-header a{
    text-decoration: none;
}

/*-------------------
    AVATAR
--------------------*/

.ms-header-avatar img{
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
}

.ms-avatar img{
    height: 3.375rem;
    width: 3.375rem;
    border-radius: 50%;
}

/*-------------------
    POPUP
--------------------*/

.nav-contacts{
    height: calc(100% - 4.375rem);
    display: flex;
    overflow: hidden;
}

.ms-bell-notify{
    background-color: var(--ms-primary-color);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    color: var(--ms-popup-color);
}
.ms-popup-text a{
    color: rgb(100, 100, 100);
}

/*-------------------
    SEARCHBAR
--------------------*/

.ms-contacts-searchbar{
    display: flex;
    padding: .625rem;
    background-color: var(--ms-primary-color);
    border: 1px solid lightgray;
}

.ms-contacts-searchbar input[type=text]{
    border: none;
    width: 100%;
    outline: none;
    padding-left: .625rem;
}

.ms-input-icon{
    padding: 0 .625rem;
    position: relative;
}

.ms-input-icon:after {
    content: '';
    height: 2.75rem;
    width: 1px;
  
    position: absolute;
    right: 0;
    top: -10px;
  
    background-color: lightgray;
  }

/*-------------------
    CONTACTS
--------------------*/

.contact-list{
    overflow-y: auto;
    position: relative;
}

.ms-last-message{
    font-size: 14px;
    position: absolute;
    right: 10px;
}

/*---------------
    MESSAGE
----------------*/

.ms-message-box{
    padding-top: .625rem;
    padding-left: 1.25rem;
    padding-bottom: 1rem;
    padding-right: 1.875rem;
    border-radius: 10px;
    min-width: 25%;
    max-width: 45%;
}

.sent{
    margin-left: auto;
    background-color: var(--ms-sent-color);
}

.received{
    background-color: var(--ms-primary-color);
}


/*-------------------
    TYPEBAR
--------------------*/

.ms-chat-input{
    width: 84%;
}

.ms-chat-input input[type=text]{
    border: none;
    width: 100%;
    outline: none;
    padding: .75rem .625rem;
    border-radius: .375rem;
}