/*-------------------
    RESET LINK
--------------------*/

.ms-boozap-header a{
    text-decoration: none;
}

/*-------------------
    AVATAR
--------------------*/

.ms-avatar img{
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
}

/*-------------------
    POPUP
--------------------*/

.ms-bell-notify{
    background-color: white;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    color: var(--ms-popup-color);
}
.ms-popup-text a{
    color: rgb(100, 100, 100);
}

/*-------------------
    SEARCHBAR
--------------------*/

.ms-contacts-searchbar{
    display: flex;
    padding: .625rem;
    background-color: var(--ms-primary-color);
    border: 1px solid lightgray;
}

.ms-contacts-searchbar input[type=text]{
    border: none;
    width: 100%;
    outline: none;
    padding-left: .625rem;
}

.ms-input-icon{
    padding: 0 .625rem;
    position: relative;
}

.ms-input-icon:after {
    content: '';
    height: 44px;
    width: 1px;
  
    position: absolute;
    right: 0;
    top: -10px;
  
    background-color: lightgray;
  }

