:root {
    --ms-primary-color: #ffffff;
    --ms-secondary-color: #eaeaea;
    --ms-gray-color: #bdb9c1;
    --ms-light-gray-color: #fafafa;

    --ms-acqua-bg-color: #009688;
    --ms-gray-bg-color: #dbdbd4;

    --ms-popup-color: #8edafc;

    --ms-sent-color: #d5f9ba;
}