:root {
    --ms-primary-color: #ffffff;
    --ms-secondary-color: #eaeaea;
    --ms-gray-color: #bdb9c1;
    --ms-light-gray-color: #e9ebeb;

    --ms-acqua-bg-color: #009688;
    --ms-gray-bg-color: #dbdbd4;
}